# Path relativo del file di definizione della rete neurale
#ocr.nnet.file.location=nnet\\OCR4ANPR_NNP.nnet
ocr.nnet.file.location=nnet\\NNTANPR_11_3224.nnet

# Valore Intero che definisce il numero minimo di segmenti che devono
# essere rilevati per la presecuzione del processo di riconoscimento
ocr.min.segment.accepted=7

# Valori Interi che definiscono le dimensioni delle immagini derivanti
# dalla segmentazione dei singoli caratteri
ocr.image.char.dimensions.width=20
ocr.image.char.dimensions.height=33

# Valori Interi che definisco i parametri di verifica per stabilire 
# se il segmento rilevato è compatibile con un carattere di una targa
# automobilistica
#
# if(percPixels < ocrConfig.getCharAcceptedDimensionsNonZeroPixelLimit() 
#	    	&& charAspect > ocrConfig.getCharAcceptedDimensionsAspectMin() 
#	    	&& charAspect < ocrConfig.getCharAcceptedDimensionsAspectMax() 
#	    	&& charImg.rows() >= ocrConfig.getCharAcceptedDimensionsHeightMin() 
#	    	&& charImg.rows() <= ocrConfig.getCharAcceptedDimensionsHeightMax()) {
#
ocr.char.accepted.dimensions.height.min=15
ocr.char.accepted.dimensions.height.max=30
ocr.char.accepted.dimensions.aspect.min=0.2
ocr.char.accepted.dimensions.aspect.max=0.91
ocr.char.accepted.dimensions.nonzero.pixel.limit=0.8

# Valori espressi sottoforma di interi utilizzati per l'elaborazione del
# threshold dell'immagine di ogni singolo segmento contenente un char  
ocr.char.image.threwshold.value=60
ocr.char.image.threwshold.maxvalue=255

