# Numero massimo di 'contuor' da elaborare
# se il parametro viene valorizzato a -1 il controllo viene disabilitato
detection.contour.max.iterations=2000

# Valori espressi sottoforma di interi utilizzati per l'elaborazione del
# flood filling per ottenere una mask 
detection.floodfill.lower.difference=50
detection.floodfill.upper.difference=50

# Valori espressi sottoforma di interi utilizzati per l'elaborazione del
# threshold dell'immagine di output  
detection.result.threwshold.value=60
detection.result.threwshold.maxvalue=240

# Valori minini e massimi in cui l'area dell'oggetto rilevato deve rientrare
# per poter essere preso in considerazione come possibile targa automobilistica
detection.plate.min.area=3000
detection.plate.max.area=500000

# Valori minini e massimi in cui il rapporto tra l'altezza e la larghezza dell'oggetto 
# rilevato deve rientrare per poter essere preso in considerazione come possibile 
# targa automobilistica
detection.plate.min.ratio=2.271
detection.plate.max.ratio=7.186

# Per verificare se la regione rilevata ed identificata come possibile targa 
# automobilistica è una valida candidata viene effettuato un controllo sul numero
# di picchi di bianco e di picchi di nero rilevate all'interno della regione
# tali picchi vengono dati dal contrasto tra la luminosità dei carattere e quella 
# dello sfondo.
# Limite minimo e limite massimo dell'intervallo di picchi che caratterizzano
# una possibile targa automobilistica.
# if(countMaxPeak >= 5 && countMaxPeak <= 16 && countMinPeak >= 5 && countMinPeak <= 16)
detection.plate.min.peaks=5
detection.plate.max.peaks=16
 
 