# Url della fonte dello streaming video 
# test - C:\\Developing\\Projects\\Anpr\\Testing\\video-test\\recordat_12_09_09_13_27_02.avi
# test - C:\\Developing\\Projects\\Anpr\\Testing\\video-test\\recordat_12_09_09_13_22_35.avi
# test - C:\\Developing\\Projects\\Anpr\\Testing\\video-test\\recordat_12_09_09_13_22_27.avi
#tvideo.source=rtsp://admin:root@192.168.1.21/11?tcp
video.source=C:\\Developing\\Projects\\Anpr\\Testing\\video-test\\recordat_12_09_09_13_27_02.avi

# Intervallo di tempo in millisecondi tra l'elaborazione di un frame ed il successivo
video.timing=40

# Differenza di luminosità di ogni singolo pixel su cui calcolare un immagine binaria (b/w)
motion.threshold.difference=30

# Dimensione minima degli oggetti da prendere in considerazione nella rilevazione di movimento
# condizione: (comp_rect.width + comp_rect.height) < motion.object.dimensions 
# da valutare potrebbe essere oggetto di future motifiche 
motion.object.dimensions=750

# Intervallo di tempo espresso in millisecondi che definisce dopo quanto tempo di non movimento
# successivo ad un tempo non precisato di movimento, deve essere staccata una sequenza di movimento
# ed invocato l'handler oppotuno. 
motion.sequence.cut.interval=500